h2 {
  text-align: center;
}

mat-card {
  margin: 20px;
  min-width: 400px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.grey {
  background-color: lightgrey;
}
