:host {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;

  .random-block {
    margin-top: 50px;

    width: 200px;
    height: 200px;

    border: 1px solid black;
  }
}
