.binding-examples {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.events-example {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;

    &__item {
      margin: 10px;
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
      }

      .keyboard-area {
        width: 150px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-user-select: none;
      }
    }
  }
}
